.container {
    background: url('../../img/bg-bonsdrinks.jpg');
    width: 1200px;
    height: 720px;
    margin-left: 350px;
}

.section {
    display: grid;
    justify-content: center;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;   
}

.text2{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}